* **Update the MySQL Connector/J:** If you use MySQL Connector/J v8.0.13–8.0.21 and TLS,
   then update the MySQL Connector to v8.0.22 or later before upgrading <%=vars.product_short %>.
   These versions of the MySQL Connector do not verify TLS connections.

     For more information, see <a href="troubleshoot-instances.html#connector-8.0.13">Apps
   Requiring TLS Cannot Connect to the Database after Upgrade from v2.8</a> in _Troubleshooting Instances_.
